{% extends "layout.html" %}
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">关于区块链</h1>

        </div>
        <!-- /.container-fluid -->

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">区块链概念与技术介绍</h6>
          </div>
          <div class="card-body">
            <p>区块链(Blockchain)是由节点参与的分布式数据库系统,是基于时间戳由区块有序链接起来形成的一种数据结构,其中区块是指数据的集合,相关信息和记录都包括在区块里面,是形成区块链的基本单元。区块链技术经过快速的迭代演进,如今的区块链已经形成“分布式(Decentralized)、免信任(Trustless)、时 间 戳 ( Time Stamp ) 、 非 对 称 加 密 ( Asymmetric Cryptography)和智能合约(Smart Contract)”五大技术特征[3],对应的特点为分散式存储、不可篡改性、可追溯性、安全性、可编程性。区块链的主要意义是它建立起了去条件信任机制。用区块链所串接的分布式账本能让两方有效纪录交易，且可永久查验此交易。简单来说，区块链就是一种无需中介参与,也能在互不信任或弱信任的参与者之间维系一套不可篡改的账本纪录的技术,让在没有可信中央机构的情况下的人们能够互相协作。《经济学人》曾将区块链评价为“信任机器”（the Trust Machine)。</p>
          </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">区块链目前在中国慈善领域的应用情况</h6>
            </div>
            <div class="card-body">
              <p>蚂蚁金服在公益事业的区块链运用。 蚂蚁金服在区块链技术的实践过程中, 选择了公益这个场景。 2016 年下半年开始, “听障儿童重获新声”、 “和再障说分手”、 “为贫困孩子送保障” 等多项区块链公益项目已经上线 , 合作的机构包括壹基金、 中国社会救助基金会、 红十字会、中华少儿慈善救助基金会等多家 NGO 机构, 得到了广泛好评。</p>
            <p class="mb-1">腾讯在公益事业的区块链运用。 每天使用的微信, 属于腾讯的最核心产品。 微信里面有个菜单是腾讯公益, 公益项目包括困难儿童救助、 抗战老兵关怀等方向。 腾讯已经投资的轻松筹, 成为业内首个把区块链技术进行落地应用的平台, 公益众筹项目将实时放在 “阳光链”上, 用区块链技术保证每笔资金、 每个动作都 “可追溯”。</p>
            <p class="mb-2">等待数据端口开放的“联盟链”:2017年7月底,轻松筹联合中国红十字基金会等6家基金会成立了“阳光公益联盟链”。目前数据端口尚未开放,所以现在的联盟链只能运行部分功能。只有当基金会内部同样基于区块链技术搭建一个私有链。实现内部数据的自动记录。再与联盟链端口对接,才能保证所呈现的每一笔资金拨付情况都是真实有效的,目前搭建一个私有链的成本近百万,这也是轻松筹等机构目前还没有进行数据端口开通的原因。</p>
        </div>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">区块链技术在慈善领域难以解决的问题、障碍以及不可行性的情况</h6>
            </div>
            <div class="card-body">
              <p>2016 年 6 月17 日, 区块链项目当时在以太坊做众筹的时候, 其中的智能合约被一个不知名的黑客抓到了无限循环迭代的漏洞, 导致他们损失 5000 万美元。 类似于这样的问题对于区块链平台是非常大的打击, 所以在安全机制的设计上需要非常的小心。 还有非常重要的一点就是共识机制, 也就是在多个结点的情况下怎样达成共识。 在共识算法里面从最早基于工作量的算法到基于股权的算法到现在的联盟链, 现在最火的就是解决拜占庭将军问题 PBFT 这样的算法。 现在有很多的区块链平台都在探索这样的共识算法, 其中要解决的最核心问题就是要在确保一致性的前提下提高效率, 在区块链特别是公有链平台里面效率是一个非常大的问题。 区块链技术沙盘最上面就是一些应用组件, 包括智能合约, 智能资产以及上面支持的一些私有链、 联盟链和公有链等。</p>
            </div>
          </div>

      </div>

      {% endblock %}