{% extends "layout.html" %}
{% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">关于项目</h1>

        </div>
        <!-- /.container-fluid -->

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">项目方针</h6>
          </div>
          <div class="card-body">
            <p>近年来,郭美美事件等慈善闻使中国慈善事业产生了巨大的信任危机,导致国民对慈善事业的热情大幅度下降,并且始终保持怀疑态度,中国慈善事业健全管理制度,增加公信力和增加可信度势在必行,要增加中国慈善事业的公信力和可信度,我们需要引用一些令人信服的技术来实现慈善事业信息的可追溯性与透明化,区块链技术带有去中心化,点对点传输,分账本以制等特性,若能将区块链技术用于慈善记账,将非常有可能大提升慈度,以此增加公信力和可信度。本文将结合区块链技术在中国慈善领域已有的贡献以及区块链技术在中国慈善领域更多的前瞻进行研究分析,并将研究目标细化在中国颇具公信力但这几年却饱受质疑的中国红十字会来探讨区块链技术是否能提升中国红十字会机构的公信力,并以此推导是否能解决中国慈善事业的危机。</p>
          </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">项目方案</h6>
            </div>
            <div class="card-body">
              <p>本项目将利用区块链技术，与网页开发的多种语言相结合，制作出一个能达到我们预计目标的区块链网站，使成品能够达到让使用者放心，无任何死角监控捐助资金流动直至善款真正抵达受捐助者（方）手中。</p>
            </div>
          </div>

      </div>

      {% endblock %}

      
