{% extends "layout.html" %}
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">关于逸创Enovation</h1>

        </div>
        <!-- /.container-fluid -->

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">我们的展望</h6>
          </div>
          <div class="card-body">
            <p>逸创主要针对当代社会在慈善机构组织普遍存在的管理漏洞，利用区块链去中心化，公开透明的特点，设计一款受惠于爱心人士以及帮扶人士的App原型。</p>
            <p class="mb-0">我们的目标是最大化慈善机构的透明度，解决爱心人士对慈善款项的顾虑，让不法分子没有可乘之机，从而推动中国慈善事业的发展。</p>
          </div>
        </div>

      </div>
 
      {% endblock %}