{% extends "base2.html" %} {% block content %}
{% block check %}
<form action="{{ url_for('donee') }}" method="POST">
    <div class="form-group">
        <label for="select">查询与你相关的捐款</label>
        <input type="text" class="form-control" id="text" placeholder="你的姓名" name="select">
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">查询</button>
    
</form>{% if block_number%}
<div class="alert alert-success" role="alert">
    <strong>你的交易号码是{{ block_id }}</strong><p></p>
</div>
{% endif %}
<br>
<hr>
<br>
<form action="{{ url_for('integrity') }}" method="POST">
    <button type="submit" class="btn btn-primary btn-lg btn-block">点击查看</button>
</form>
<hr>
<ul class="list-group">
    {% for result in results %}
    <li class="list-group-item"> 交易记录 {{result['block'] }} : {% if result['result'] == 'ok' %}
        <i>成功发送！</i> {% endif %} {% if result['result'] == 'error' %}
        <strong>    记录失败！</strong> {% endif %} {% if result['proof'] != -1 %}
        <i>成功记录！</i> {% endif %} {% if result['proof'] == -1 %}
        <strong>尚未记录！</strong> {% endif %}

    </li>
    {% endfor %}</ul>
<br> {% endblock %}

<br>{% endblock %}
